*{
    font-family: Arial, sans-serif;
}

body {
    background-image: url('./images/Temperature1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.converter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40%;
    margin-left: 10%;
    padding: 30px;
}

.converter h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.converter button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}



#temperature{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

