* {
    font-family: Arial, sans-serif;
}
/*Testing out a URL background*/
body {
    background-image: url(https://media.istockphoto.com/id/1475720137/photo/beach-sand-background-for-summer-vacation-concept-beach-nature-and-summer-seawater-with.jpg?s=612x612&w=0&k=20&c=iGKC1FOzKzHPLAOLnXvsP1Ab61ayKUnok9yYgcfRUDU=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    color: rgb(23, 80, 71);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.converter-section {
    text-align: center;
    padding: 30px;
    width: 400px;
}

.convert-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}


.result-display {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* color classes added by .classList.add() */
.result-display.hot {
    color: #e74c3c;
}

.result-display.cold {
    color: #3498db;
}


